<!DOCTYPE html>
<html>
    
    <body>
        <div class="container">
            
          
            <h1>welcome</h1>
            <p> My name is Mouhiha Mohamed 
                3rd year student in professional license, <br>
                computer science applied mathematics option 
                in computer science at the multi-disciplinary 
                faculty of Sidi Bennour.<br>
                I love technology and informatics,especially
                web application programming and websites.<br>
                I hope to provide a service that will benefit
                 this world...</p>
        </div>
    </body>
</html>