@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

.container {
    position: absolute;
    top: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding:  0 3rem;
    margin-top: 4rem;
    text-align: center;
}
h1{
    margin-bottom: 0;
    margin-top: 10%;
    color: #398f51;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
}
/*
<div class="image">
                <img src="./assets/ana.jpg"  alt="Photograph Of Me">
            </div>
.image{
    margin: 0 auto;
    margin-top: 4rem;
    margin-left: 0;
    margin-bottom: 0;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
   


    
}*/
p{
    margin-top: 0%;
    font-size: 2rem;
    color: #777;
    line-height: 2rem;
    margin-bottom: 5rem;
}
