<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- Background animtion-->
    <div class="background">
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
       <div class="cube"></div>
      <div class="cube"></div>
    </div>
<!-- header -->
   <header>
<!-- navbar -->
     <nav>
        <ul>
           <li><a routerLink='' >Home</a></li>
            <li><a routerLink='etudes'>About</a></li>
            <li><a routerLink='competences'>Portfolio</a></li>
           
            <li><a routerLink='ccontacte'>Contact</a></li>
         </ul>
       </nav>
<!-- logo -->
    
  </header>