




























<div classe="pos">

	<div id="SkillBox">
			
			<div class="SkillBar">
		<div id="Skill-HTML"> 
		  <span class="Skill-Area ">Angular</span>
		  <span class="PercentText ">100%</span>
		</div>
	  </div>
	  
	  <div class="SkillBar">
		<div id="Skill-CSS">
		  <span class="Skill-Area ">Java</span>
		  <span class="PercentText ">70%</span>
		</div>
	  </div>
	
	  <div class="SkillBar">
		<div id="Skill-jQuery">
		  <span class="Skill-Area ">c/c++</span>
		  <span class="PercentText ">40%</span>
		</div>
	  </div>
	  
	  <div class="SkillBar">
		<div id="Skill-JS">
		  <span class="Skill-Area ">Javascript</span>
		  <span class="PercentText ">65%</span>
		</div>
	  </div>
	  
	  <div class="SkillBar">
		<div id="Skill-XML">
		  <span class="Skill-Area ">Type Script </span>
		  <span class="PercentText ">40%</span>
		</div>
	  </div>
	  
		<div class="SkillBar">
		<div id="Skill-C">
		  <span class="Skill-Area ">c/c++</span>
		  <span class="PercentText ">30%</span>
		</div>
	  </div>
	  
		<div class="SkillBar">
		<div id="Skill-JAVA">
		  <span class="Skill-Area ">Big Data</span>
		  <span class="PercentText ">50%</span>
		</div>
	  </div>
	  
	  
	  
	</div>
	
</div>