<html>
    <head>
        
        <link  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    </head>
    <body>
        
          
            <div class="media">
                <ul>
                    <li><a href="mailto:mouhihamohamed@gmail.com"> <i class="fa fa-envelope-o"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/mouhiha-mohamed-a0657b1a3/"><i class="fa fa-linkedin" ></i></a></li>
                    <li><a href="https://github.com/mouhihaMohamed702"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://twitter.com/"><i class="fa fa-skype"></i></a></li>
                    <li><a href="https://www.instagram.com/direct/inbox/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://wa.me/message/EIPLO24WVHQDN1/"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100021645765984"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        
    </body>
</html>
